In [1]:
import warnings
warnings.filterwarnings('ignore')
import requests
from bs4 import BeautifulSoup
from datetime import datetime as dt
header = {'User-agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko'}

In [2]:
# https://datalab.naver.com/keyword/realtimeList.naver
#    ?age=10s&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main
# https://datalab.naver.com/keyword/realtimeList.naver
#    ?age=20s&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main
# https://datalab.naver.com/keyword/realtimeList.naver
#    ?age=30s&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main
# https://datalab.naver.com/keyword/realtimeList.naver
#    ?age=40s&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main
# https://datalab.naver.com/keyword/realtimeList.naver
#    ?age=50s&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main
# https://datalab.naver.com/keyword/realtimeList.naver
#    ?age=all&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main
ageList = {'1': '10s', '2': '20s', '3': '30s', '4': '40s', '5': '50s', '6': 'all'}
url1 = 'https://datalab.naver.com/keyword/realtimeList.naver?age='
url2 = '&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main'
print(ageList.keys())
for key in ageList.keys():
    print('{}{}{}'.format(url1, ageList[key], url2))

dict_keys(['1', '2', '3', '4', '5', '6'])
https://datalab.naver.com/keyword/realtimeList.naver?age=10s&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main
https://datalab.naver.com/keyword/realtimeList.naver?age=20s&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main
https://datalab.naver.com/keyword/realtimeList.naver?age=30s&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main
https://datalab.naver.com/keyword/realtimeList.naver?age=40s&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main
https://datalab.naver.com/keyword/realtimeList.naver?age=50s&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main
https://datalab.naver.com/keyword/realtimeList.naver?age=all&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main

In [11]:
# 연령대별 검색어만 클롤링
ageList = {'1': '10s', '2': '20s', '3': '30s', '4': '40s', '5': '50s', '6': 'all'}
url1 = 'https://datalab.naver.com/keyword/realtimeList.naver?age='
url2 = '&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main'
key = input('연령대를 입력하세요(1 => 10대, 2 => 20대, 3 => 30대, 4 => 40대, 5 => 50대, 6 => 전체) : ')
targetSite = '{}{}{}'.format(url1, ageList[key], url2)
# print(targetSite)

request = requests.get(targetSite, headers = header)
# print(request)
html = request.text
soup = BeautifulSoup(html, 'html.parser')
# print(soup)

titles = soup.findAll('span', {'class': 'item_title'})
for i in range(len(titles)):
    print('{0:2d}위 : {1}'.format(i + 1, titles[i].text))

연령대를 입력하세요(1 => 10대, 2 => 20대, 3 => 30대, 4 => 40대, 5 => 50대, 6 => 전체) : 3
 1위 : 정일훈
 2위 : 5인이상 집합금지
 3위 : 은수미
 4위 : 애동지
 5위 : 김포골드라인
 6위 : 쌍용차
 7위 : 현자
 8위 : 목성 토성
 9위 : 양지윤
10위 : 백혈병
11위 : 정일훈 마약
12위 : 백반기행 마포 만두
13위 : 구하라 재산
14위 : 제 7기사단
15위 : 골든일레븐
16위 : 영국 코로나 변종
17위 : 오퀴즈 8시정답
18위 : 구하라
19위 : 도둑들
20위 : 엘리엇 페이지

In [26]:
# 연령대별 검색어와 이슈 묶어보기 크롤링
ageList = {'1': '10s', '2': '20s', '3': '30s', '4': '40s', '5': '50s', '6': 'all'}
url1 = 'https://datalab.naver.com/keyword/realtimeList.naver?age='
url2 = '&entertainment=0&groupingLevel=2&marketing=0&news=0&sports=0&where=main'
key = input('연령대를 입력하세요(1 => 10대, 2 => 20대, 3 => 30대, 4 => 40대, 5 => 50대, 6 => 전체) : ')
targetSite = '{}{}{}'.format(url1, ageList[key], url2)

request = requests.get(targetSite, headers = header)
html = request.text
soup = BeautifulSoup(html, 'html.parser')
# print(soup)

ranks = soup.findAll('li', {'class': 'ranking_item'})
# print(ranks[0])
dataLab = []
for rank in ranks:
    # print(rank.find('span', {'class': 'item_title'}))
    title = rank.find('span', {'class': 'item_title'}).text
    # print(title)
    # print(rank.find('span', {'class': 'item_title_sub'}))
    subTitle = []
    try:
        subs = rank.find('span', {'class': 'item_title_sub'}).text.split(',')
        for sub in subs:
            subTitle.append(sub.strip())
    except:
        pass
    # print(subTitle)
    dataLab.append([title, subTitle])

for i in range(len(titles)):
    print('{0:2d}위 : {1} {2}'.format(i + 1, dataLab[i][0], \
                                       dataLab[i][1] if len(dataLab[i][1]) != 0 else ''))

연령대를 입력하세요(1 => 10대, 2 => 20대, 3 => 30대, 4 => 40대, 5 => 50대, 6 => 전체) : 2
 1위 : 정일훈 ['비투비', '비투비 정일훈', '일훈', '비투비 일훈']
 2위 : 정일훈 마약 ['정일훈 군대']
 3위 : 5인이상 집합금지 ['코로나 집합금지', '5인이상 집합금지 식당', '5인이상 집합금지 회사', '나스닥']
 4위 : 김포골드라인 ['김포 지하철']
 5위 : 케스파컵 ['2021 케스파컵']
 6위 : 애동지
 7위 : 쌍용차 ['쌍용', '쌍용자동차']
 8위 : 실족사
 9위 : 큐브엔터테인먼트
10위 : 은수미
11위 : 골든일레븐
12위 : 목성 토성
13위 : 아리아나 그란데
14위 : 구하라
15위 : 영국 코로나 변종
16위 : 현자
17위 : 지하철
18위 : 체스카
19위 : 김포
20위 : 홍반장